
::-webkit-scrollbar-thumb:vertical {
	background-color:transparent;
	height:auto;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color:transparent;
	height:10px !important;
}

::-webkit-scrollbar {
	height:7px;
	width:7px;
	background-color:transparent;
}


body {
	padding: 0px;
	margin: 0px;
	color:#9b9b9b;
	font-family:arial;
	line-height:12px;
	font-size:9px;
	text-transform:uppercase;
	background-attachment: fixed;
	background-repeat: repeat;
	background-color: #ffffff;
	background-image:url(http://assets.tumblr.com/images/x.gif?v=1)
}

a:link, a:active, a:visited{
	text-decoration: none;
	color:#9b9b9b;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

a:hover {
	color: #aaaaaa;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

.entry .permalinks{
	position:absolute;
	padding:5px;
	line-height:10px;
	overflow:hidden;
	text-align:left;
	opacity:0;
	bottom:-27px;
	width:auto;
	z-index:-1;
	left:-1px;
	font-style:italic;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.permalinks a{
	text-decoration:underline;
} 

.entry:hover .permalinks{
	opacity:1;
	bottom:-27px;
}

.permalink {
	text-align:right;
	color:#9b9b9b;
	margin-top:-15px;
	padding:5px;
	opacity:0;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.permalink a{
	color:#9b9b9b;
}

.hide{
	float:left;
}

.entry:hover .permalink{
	opacity:1;
	margin-top:5px;
}

#header{
	left:50%;
	margin-left:-280px;
	top:0px;
	position:fixed;
	margin-right:auto;
	width: 755px; 
	text-align:right;
	height:auto;
	padding:5px;
	z-index:999;
	padding-top:80px;
	background:#ffffff;
	border-bottom:1px solid #cccccc;
}

#sidebar{
	left:50%;
	margin-left:-475px;
	top:140px;
	position:fixed;
	margin-right:auto;
	width: 130px;
	height:auto;
	padding:5px;
	z-index:999;
}

#sidebar img{
	width:calc(100%);
	padding:5px;
	outline:1px solid white;
	background:#ffffff;
	outline-offset:-10px;
	border:1px solid #cccccc;

}



.navi{
	text-align:right;
	margin-left:140px;
	opacity:1;
	margin-top:0px;
	padding:5px;
}

.navi a{
	color:#9b9b9b;
	padding:2px;
	margin:3px;
	font-style:italic;
	display:inline-block;
	text-align:center;
	border:1px solid #cccccc;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.navi:hover a{
	opacity:.3;
}

.navi a:hover{
	text-decoration:underline;
	opacity:1;
}


.entry{
	float:left;
	display: block;
	margin:30px;
	width: 180px;
	-webkit-filter: grayscale(70%);
	padding:5px;
	border:1px solid #cccccc;

	background:white;
	background-image:URL();
}

.entry img{
	max-width:100%;
}

#jaz{
	opacity:1
}

#jaz img{
	outline:1px solid transparent;
	outline-offset:-100px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.entry:hover #jaz img{
	outline:1px solid white;
	outline-offset:-20px;
}

#content{
	width: 780px; 
	margin-top:110px; 
	z-index:99;
	margin-left:-280px;
	right:auto;
	left:50%;
	background:#ffffff;
	margin-right:auto;
	position:relative;
	overflow-y: hidden;

}


.title{
	color:#9b9b9b;
}

#bio{
	color:#9b9b9b;
	height:auto;
	border:1px solid #cccccc;
	padding:5px;
	margin-top:5px;
	opacity:1;
	width:130px;
	text-align:justify;
}
#name{
	color:#9b9b9b;
	line-height: 22px;
	font-size:20px;
	padding:5px;
	margin-top:5px;
	margin-left: 0px;
	width:130px;
}

.links{
	margin-top: 10px;
}

.links div{
	color:#9b9b9b;
	border:1px solid #cccccc;
	padding:3px;
	margin-top:5px;
	width:auto;
	margin-right: -12px;
	text-align: right;
}


#s-m-t-tooltip{
	max-width:600px;
	background:#ffffff;
	border:1px solid #cccccc;
	padding:3px;
	margin:20px;
	color:#9b9b9b; 
	z-index:9999999999;
}


#infscr-loading{
	bottom: -70px;
	position: absolute;
	left: 50%;
	margin-left:-8px;
	width:16px;
	height:11px;
	overflow:hidden;
	margin-bottom: 50px;
}

#caption{
	display:none;
}

#postnotes{
	text-align: justify;
	text-transform:uppercase;
}

#postnotes blockquote{
	border: 0px;
}

blockquote{
	padding:0px 0px 2px 5px;
	margin:0px 0px 2px 10px;
	border-left: 1px solid #9b9b9b;

}

blockquote p, ul{
	margin:0px;
	padding:0px;
}

a img{
	border: 0px;
}


ul, ol, li{
	list-style:none; margin:0px; padding:3px;
}

.user_1 .label, .user_2 .label, .user_3 .label, .user_4 .label, .user_5 .label, .user_6 .label,
.user_7 .label, .user_8 .label, .user_9 .label {
	color:#9b9b9b;
}

.notes img{
	border-radius:100%;width:10px;margin-right:10px;
}
small{
	font-size: 90%;
}